<%- include("partials/header.ejs") %>

    <div id="books">
        <% if (locals.books) { %>
            <form id="sort-form" action="/" method="GET">
                <label for="sort">Sort By:</label>
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="book.title" <%= sortBy == `book.title` ? `selected` : `` %>>Title</option>
                    <option value="book.rating DESC" <%= sortBy == `book.rating DESC` ? `selected` : `` %>>Rating</option>
                    <option value="author" <%= sortBy == `author` ? `selected` : `` %>>Author</option>
                </select>
            </form>
            <% books.forEach(book => { %>
                <div class="book">
                    <div class="book-cover">
                        <% if (book.cover_id) { %>
                            <img src="https://covers.openlibrary.org/b/ID/<%= book.cover_id %>-M.jpg" alt="book cover">
                        <% } else { %>
                            <img src="/images/book-cover-na.jpg" alt="book cover unavailable">
                        <% } %>
                    </div>
                    <div class="book-text">
                        <div class="title-buttons">
                            <h2 class="book-title playfair"><%= book.title %></h2>  
                            <div class="edit-buttons">
                                <button class="edit-button" book-index="<%= book.id %>">Edit</button>
                                <button class="delete-button" book-index="<%= book.id %>">Delete</button>
                            </div>                          
                        </div>
                        <% if (book.author) { %>
                            <a class="book-author" href="/author/<%= book.author_id %>">By <%= book.author %></a>                       
                        <% } %>
                        <h4 class="book-rating">Rating: <%= book.rating %>/5</h4>
                        <p class="book-date">Date Read: <%= book.date_read.toLocaleDateString('en-CA') %></p>
                        <p><%= book.description %></p>
                        <% if (book.notes) { %>
                            <p>Notes:<br><%= book.notes %></p>
                        <% } %>                      
                    </div>
                </div>
                <hr class="book-divider">
            <% }); %>
        <% } else { %>
            <% if (locals.error) { %>
                <h2 class="error"><%= error %></h2>    
            <% } %>
        <% } %>        
    </div>

<%- include("partials/footer.ejs") %>