<%- include("partials/header.ejs") %>

    <div id="books">
        <% if (locals.books) { %>
            <% books.forEach(book => { %>
                <div class="book">
                    <div class="book-cover">
                        <% if (book.cover_id) { %>
                            <img src="https://covers.openlibrary.org/b/ID/<%= book.cover_id %>-M.jpg" alt="book cover">
                        <% } else { %>
                            <img src="/images/book-cover-na.jpg" alt="book cover unavailable">
                        <% } %>
                    </div>
                    <div class="book-text">
                        <h2 class="book-title playfair"><%= book.title %></h2>
                        <h3 class="book-author">By <%= book.author %></h3>
                        <h4 class="book-rating"><%= book.rating %></h4>
                        <p class="book-date"><%= book.date_read %></p>
                        <p><%= book.description %></p>
                        <p><%= book.notes %></p>                        
                    </div>
                </div>
                <hr>
            <% }); %>
        <% } %>        
    </div>

<%- include("partials/footer.ejs") %>