<%- include("partials/header.ejs") %>
<div id="search">
    <h1 class="playfair">Search for a book to add to your collection</h1>
    <form id="search-form" action="/search" method="GET">
        <input type="text" name="search" placeholder="Title, Author or ISBN">
        <button type="submit">Search</button>
    </form>    
</div>
<div id="results">
<% if (locals.results) { %>
    <% results.forEach(result => { %>
        <a class="result" href="/add?bookId=<%= result.key %>">
            <div class="result-image">
                <% if (result.cover_i) { %>
                    <img src="https://covers.openlibrary.org/b/OLID/<%= result.cover_edition_key %>-M.jpg" alt="book cover">                   
                <% } else { %>
                    <img src="/images/book-cover-na.jpg" alt="book cover unavailable">
                <% } %>
            </div>
            <div class="result-text">
                <p class="result-title"><%= result.title %></p>
                <p class="result-author"><%= result.author_name ? `${result.author_name[0]}` : `` %></p>                
            </div>            
        </a>
    <% }); %>
<% } %>
</div>

<%- include("partials/footer.ejs") %>